.card__searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 0 0;
}
.card__search{
    width: 80%;
    height: 2rem;
    margin: 0 0 1rem 0;
}
.search__buttonContainer{
    display: flex;
    justify-content: flex-start;
}
.search__button{
    width: auto;
    padding: 0.5rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: solid 1px;
    background-color: white;
}